<div class="container p-5">
    {{#each blocks}}
    <form action="/viewTransactions" method="post">
        <div class=" col align-self-center p-2">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Block {{ index }} <small class="text-muted"></small></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="">Hash</span>
                    <br>
                    <div class="text-truncate" style="color:rgba(34, 37, 240, 0.767);">
                        <small>{{ hash }}</small>
                    </div>
                    <br>
                    <span class="">Hash previo</span>
                    <br>
                    <div class="text-truncate" style="color:rgba(245, 43, 43, 0.815);">
                        <small>{{ lastHash }}</small>
                    </div>
                </li>
                {{#if data}}
                <li class="list-group-item">
                    <input type="hidden" id="index" name="index" value="{{index}}">
                    <span class="">Transacción</span><br>
                    <button class="list-group-item list-group-item-action">
                        {{#each data }}
                        <div class="text-truncate text-muted">
                            <small style="color:rgba(9, 107, 107, 0.932);">
                                {{id}}
                            </small>
                        {{/each}}
                        </div>
                    </button>
                </li>
                {{/if}}
                <li class="list-group-item">
                    <span class="">Nonce</span><br>
                    <div class="text-truncate text-muted">
                        <small>{{ nonce }}</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="">Dificultad</span><br>
                    <div class="text-truncate text-muted">
                        <small>{{ difficulty }}</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="">Fecha</span><br>
                    <div class="text-truncate text-muted">
                        <small>{{ timestamp }}</small>
                        <span class="text-muted"><br><small>{{prettifyDate timestamp}}</small></span>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    {{/each}}
</div>