<div class="container p-5">
    {{#if tx}}
    {{#each tx}}
    <div class=" col align-self-center p-2">
        <div class="card-header bg-dark text-white text-center">
            <h5 class="card-title">{{ id }} <small class="text-muted"></small></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="">Llave Pública de Origen</span>
                <div class="text-truncate" style="color:rgba(16, 124, 138, 0.767);">
                    <small>{{ input.address }}</small>
                </div>
                <span class="">Fecha y Hora</span>
                <div class="text-truncate" style="color:rgba(16, 124, 138, 0.767);">
                    {{ input.timestamp}} <br>
                    <small>{{prettifyDate input.timestamp}}</small>
                </div>
            </li>
            <li class="list-group-item">
                {{#each outputs}}
                {{#if @first}}
                {{!-- {{#if blockchainWalletaddress}}
                <span class="">Llave Pública Destino ññññññññññññññ</span>
                <div class="text-truncate" style="color:rgba(31, 77, 17, 0.664);">
                    <small>{{ address }}</small>
                </div>
                <span class="">Monto Enviado</span>
                <div class="text-truncate" style="color:rgba(31, 77, 17, 0.664);">
                    <small>{{ amount }}</small>
                </div>
                {{/if}} --}}
                {{else}}
                <span class="">Llave Pública Destino</span>
                <div class="text-truncate" style="color:rgba(31, 77, 17, 0.664);">
                    <small>{{ address }}</small>
                </div>
                <span class="">Monto Enviado</span>
                <div class="text-truncate" style="color:rgba(31, 77, 17, 0.664);">
                    <small>{{ amount }}</small>
                </div>
                {{/if}}
                {{/each}}
            </li>
        </ul>
    </div>
    {{/each}}
    {{else}}
    <div class="card-header bg-dark text-white text-center">
        <h5 class="card-title">No existe la transación<small class="text-muted"></small></h5>
    </div>
    {{/if}}
</div>