<div class="container p-5">
    <form action="/riteFile" method="post">
        <div class="col align-self-center">
            <div class="card animated ">
                <div class="card-header bg-dark text-white text-center">
                    <h5 class="card-title">Wallet<small class="text-muted"></small></h5>
                </div>
                <input type="hidden" id="index" name="publicKey" value="{{publicKey}}">
                <input type="hidden" id="index" name="privateKey" value="{{privateKey}}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="">LLave Pública</span>
                        <br>
                        <div class="text-truncate" style="color:rgba(255, 17, 0, 0.829);">
                            <small>{{ publicKey }}</small>
                        </div>
                    </li>
                    <!-- <li class="list-group-item">
                        <span class="">Llave Privada</span>
                        <br>
                        <div class="text-truncate" style="color:cadetblue;">
                            <small>{{ privateKey}}</small>
                        </div>
                    </li> -->
                    <li class="list-group-item">
                        <span class="">Saldo</span>
                        <br>
                        <div class="text-truncate" style="color:rgba(5, 108, 218, 0.87);">
                            <small>{{ balance }}</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal"
                            data-target="#exampleModal">
                            Generar el Archivo de las llaves
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Las llaves fueron generadas correctamente
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container p-5">
    {{#if extracto}}
    <div class="col align-self-center">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Transacciones <br><small class="text-muted">Historial de transacciones de la
                        wallet</small></h5>
            </div>
            <div class="card-body">
                <div class="container col align-self-center">
                    <div class=" col align-self-center p-2">
                        <table class="table table-striped table-responsive-lg ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">De</th>
                                    <th scope="col">Para</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each extracto}}
                                <tr class="table-light" data-spy="scroll">
                                    <th scope="row" style="max-width: 100px;">{{@index}}</th>
                                    {{#if blockchainWalletaddress}}
                                    <td class="text-truncate" style="max-width: 100px;color:rgb(0, 123, 255)">
                                        {{blockchainWalletaddress}}
                                        <span class="text-muted">
                                            <br><small>Recompensa de Minado</small>
                                        </span>
                                    </td>
                                    {{else}}
                                    <td class="text-truncate" style="max-width: 100px;color:rgb(0, 123, 255)">
                                        {{to}}
                                        {{#ifCond key to}}
                                        <span class="text-muted">
                                            <br><small>Mi wallet</small>
                                        </span>
                                        {{/ifCond}}
                                    </td>
                                    {{/if}}
                                    <td class="text-truncate" style="max-width: 100px;color:rgb(0, 123, 255)">
                                        {{from}}
                                        {{#ifCond key from}}
                                        <span class="text-muted">
                                            <br><small>Mi wallet</small>
                                        </span>
                                        {{/ifCond}}
                                    </td>
                                    <td class="text-truncate" style="max-width: 100px;"> {{amount}}</td>
                                    <td class="text-truncate" style="max-width: 100px;">
                                        {{timestamp}}<br>
                                        <span class="text-muted"><small>{{prettifyDate timestamp}}</small></span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>